<div class="row card justify-content-center group-container my-3">
    <div class="col-12 mt-3">
        <h1>Core services</h1>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">DDS Cass</h5>
            <p class="card-text">Driver metadata service.</p>
            <app-release-scheduler [selectedStack]="'DDS Cass'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">DEX</h5>
            <p class="card-text">Data export service.</p>
            <app-release-scheduler [selectedStack]="'DEX'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Mobile</h5>
            <p class="card-text">Core service to serve mobile apps.</p>
            <app-release-scheduler [selectedStack]="'Mobile'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Bruce</h5>
            <p class="card-text">Core trip processor service.</p>
            <app-release-scheduler [selectedStack]="'Bruce'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">UBI3</h5>
            <p class="card-text">Enrollment & driver metadata.</p>
            <app-release-scheduler [selectedStack]="'UBI3'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Zuul</h5>
            <p class="card-text">Authentication proxy.</p>
            <app-release-scheduler [selectedStack]="'Zuul'"></app-release-scheduler>
        </div>
    </div>
</div>
<div class="row card justify-content-center group-container my-3">
    <div class="col-12 mt-3">
        <h1>TrueView</h1>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Engage 3</h5>
            <p class="card-text">TrueView's frontend code.</p>
            <app-release-scheduler [selectedStack]="'Engage3'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Zengage</h5>
            <p class="card-text">TrueView's backend code.</p>
            <app-release-scheduler [selectedStack]="'Zengage'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Zengage DriverSync</h5>
            <p class="card-text">Syncs driver data to Elasticsearch.</p>
            <app-release-scheduler [selectedStack]="'Zengage DriverSync'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Zengage Monitor</h5>
            <p class="card-text">Basic healthcheck service.</p>
            <app-release-scheduler [selectedStack]="'Zengage DriverSync'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Elasticsearch</h5>
            <p class="card-text">Elasticsearch cluster for TrueView.</p>
            <app-release-scheduler [selectedStack]="'Zengage Elasticsearch'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">KMS keys</h5>
            <p class="card-text">KMS encryption keys for TrueView.</p>
            <app-release-scheduler [selectedStack]="'Zengage KMS'"></app-release-scheduler>
        </div>
    </div>
</div>