<div class="row card justify-content-center group-container my-3">
    <div class="col-12 mt-3">
        <h1>Core services</h1>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">DriverData</h5>
            <p class="card-text">Driver metadata service.</p>
            <app-release-scheduler [selectedStack]="'DriverData'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">DataExporter</h5>
            <p class="card-text">Data export service.</p>
            <app-release-scheduler [selectedStack]="'DataExporter'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Mobile</h5>
            <p class="card-text">Core service to serve mobile apps.</p>
            <app-release-scheduler [selectedStack]="'Mobile'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">TripProcessor</h5>
            <p class="card-text">Core trip processor service.</p>
            <app-release-scheduler [selectedStack]="'TripProcessor'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Registration Service</h5>
            <p class="card-text">Enrollment & driver metadata.</p>
            <app-release-scheduler [selectedStack]="'Registration Service'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Proxy</h5>
            <p class="card-text">Authentication proxy.</p>
            <app-release-scheduler [selectedStack]="'Proxy'"></app-release-scheduler>
        </div>
    </div>
</div>
<div class="row card justify-content-center group-container my-3">
    <div class="col-12 mt-3">
        <h1>TrueFront</h1>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Frontend</h5>
            <p class="card-text">TrueFront's frontend code.</p>
            <app-release-scheduler [selectedStack]="'Engage3'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Backend</h5>
            <p class="card-text">TrueFront's backend code.</p>
            <app-release-scheduler [selectedStack]="'Backend'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Backend DriverSync</h5>
            <p class="card-text">Syncs driver data to Elasticsearch.</p>
            <app-release-scheduler [selectedStack]="'Backend DriverSync'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Backend Monitor</h5>
            <p class="card-text">Basic healthcheck service.</p>
            <app-release-scheduler [selectedStack]="'Backend DriverSync'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Elasticsearch</h5>
            <p class="card-text">Elasticsearch cluster for TrueFront.</p>
            <app-release-scheduler [selectedStack]="'Backend Elasticsearch'"></app-release-scheduler>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">KMS keys</h5>
            <p class="card-text">KMS encryption keys for TrueFront.</p>
            <app-release-scheduler [selectedStack]="'Backend KMS'"></app-release-scheduler>
        </div>
    </div>
</div>