<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Currently running deployments</h5>
                <ul class="card-text">
                    <li>Alpha TripProcessor</li>
                    <li>Alpha Rewards Service</li>
                    <li>Beta Scorer Service</li>
                </ul>
                <a routerLink="/stacks" class="btn btn-primary">Go to Stacks</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Scheduled releases this week</h5>
                <ul class="card-text">
                    <li>Alpha DriverData @ Monday</li>
                    <li>Production Registration Service @ Tuesday</li>
                    <li>Production ThumbnailService @ Thursday</li>
                </ul>
                <div class="d-flex justify-content-center">
                    <a routerLink="/release-calendar" class="btn btn-primary mr-2">Go to Release Calendar</a>
                    <app-release-scheduler></app-release-scheduler>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-4">
    <app-feed></app-feed>
</div>